<div class="row">
  <div class="col-md-4 shadowbox white boxmargin boxpadding">
    <h4>New Users</h4>
    <%= render 'user_gravatars' %>
  </div>
  <div class="col-md-6 shadowbox white boxpadding">
    <h2> Welcome! </h2>
    <p> The way we organize our favourite youtube clips are something that you should care about.</p>
    <br />
    <br />
    <%= link_to "Sign up!", new_user_path, {:style=>'color:#fff', :class => "btn btn-primary btn-lg"} %>

    <br />
  </div>
</div>
