<div class="row">
  <div class="col-md-4">
    <h3>New Users</h3>
  </div>
  <div class="col-md-offset-1 col-md-5">
    <h2> Welcome! </h2>
    <ul> #YoloSwaggins </ul>
    <li>This is a site where you can gather and list your favorite youtube links</li>
    <li>Why bother?</li>
    <li>Because it sucks to navigate youtube.com</li>
    <li>And you need a youtube user to do it</li>
    <li>But this site also needs a user?</li>
    <li>Jupp...</li>

    <br />
    <br />
    <br />
    <br />
    <br />
  </div>

</div>
