<% @youtubelist.group_by(&:category).each do |category, youtubelist| %>
  <div class="category" id="<%= category.try(:parameterize) %>">
    <% youtubelist.each do |youtubelist| %>
      <div class="youtubeitem"> 
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= youtubelist.url.html_safe %>"></iframe>
        </div>
        <br/>
        <% if logged_in? && current_user == @user %>
          <%= link_to "Delete", youtubelist_delete_path(youtubelist), class: 'btn btn-default btn-xs' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
