
@import "bootstrap";

/* fikser bredden på top-nav */
.form-control {
	width: 200px
}

.youtubeitem {
}
/* move submit youtube url button */
button.btn.btn-default{
	//position: relative;
  //top: -44px;
  //left: 199px;
}

.navbar {
  border-radius: 0px
}


.shadowbox{
  box-shadow: 2px 2px 3px #666666;
}

.lightgray{
  background-color: #efefef;
}

.white{
  background-color: #ffffff;
}
.center{
  margin: auto;
}
